@charset "UTF-8";
/* CSS Document */

body {
  background-image: url("images/table.jpg");
  background-color: #cccccc;
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.burger {
  position: relative;
  right: -200px;
  bottom: -200px;
}

.fruit {
  position: relative;
  right: -200px;
  bottom: -200px;
}