@charset "UTF-8";
/* CSS Document */

.image1 {
  position: relative;
  top: 0;
  left: 0;
  border: 0px solid #000000;
}

.image2 {
  position: absolute;
  top: 600px;
  left: 500px;
  border: 0px solid #000000;
}