@charset "UTF-8";
/* CSS Document */

body {
  background-image: url("images/inside.jpg");
  background-color: #cccccc;
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.img1 {
  position: relative;
  right: -400px;
  bottom: -400px;
}

.img2 {
  position: relative;
  right: -500px;
  bottom: -400px;
}

.img3 {
  position: relative;
  right: -100px;
  bottom: -400px;
}

.img4 {
  position: relative;
  right: -200px;
  bottom: -400px;
}